body {
    background-image: url("/images/lol.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

 h1 {
    font-size: 100px;
 }