 a {
    height: 70px;
    display: inline-block;
    margin-top: 570px;
 }

 img {
    transition: all 0.2s ease-in-out;
    height: 70px;
 }

 img:hover {
    height: 75;
    transform: scale(1.2);
    margin: 0 auto;
 }
  
 html {
    background: linear-gradient(to left bottom, #EAE730, #DB3F0F, #D3105B, #900C3F, #AD32EE);
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    font-family: monospace;
 }
